
.navbar{
  background: #181818;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  z-index: 11;
  top: 30px;
  width: 100%;
  padding: 10px 150px;
  font-family: "Hind Siliguri", sans-serif !important;
  max-height: 75px;
}
.navbarRel{
  background: #181818;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding: 10px 150px;
  font-family: "Hind Siliguri", sans-serif !important;
  max-height: 75px;
}
.hoverWhenToggleIsOFF{
  display: none;
}
.navbar_logo_type_content{
  display: flex;
  align-items: center;
}
.nav_bar_link_type_content_closer{
  display: none;
}

.navbar_logo_type_content_inner_logo{
  width: 170px;
  display: block;
}

.NAVBARTYPE ul li{
  list-style: none;
}

.NAVBARTYPE ul li a:hover{
  color: #ffdd29;
}

.nav_link{
  padding: 15px 20px;
  display: block;
  font-weight: 300;
}
#BURGER{
  display: none;
}
.fa_icon_type_navbar {
  color: #ffdd29;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.dropdown_in_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger_Navbar {
  display: flex;
  align-items: center;
}

.active{
  color: #ffdd29;
  font-weight: 500;
}

.drop_down_company{
  position: relative;
  cursor: pointer;
}

.drop_down_company:hover .drop_down_company_dropdown{
  opacity: 1;
  pointer-events: initial;
}
.drop_down_company_dropdown{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
  color: #181818;
  width: max-content;
  border-radius: 7px;
  transition: .2s;
}

.drop_down_company_dropdown div{
  position: relative;
  background: white;
  color: #181818;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  border-radius: 5px;
}

.drop_down_company_dropdown::after{
  content: '';
  height : 0;
  width : 0;
  border-right : 10px solid transparent;
  border-bottom : 6px solid #fff;
  border-left : 10px solid transparent;
  position: absolute;
  z-index: 0;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.Drop_icon{
  margin-left: 10px;
}

.drop_down_company_dropdown a{
  color: #181818 !important;
  font-weight: 400;
  position: relative;
}

.drop_down_company_dropdown a:hover{
 background-color: #eeee;
}

.nav_bar_link_type_content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  font-size: 17px;
}

.get_started_btn2{
  min-height: 30px;
  color: #000;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 400;
  width: max-content;
  background-color: #ffdd29;
  display: none;
}

.get_started_btn3{
  height: 100%;
  min-height: 25px;
  color: #000;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 400;
  width: max-content;
  background-color: #ffdd29;
}

.get_started_btn {
  height: 90%;
  color: #000;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 400;
  width: max-content;
  background-color: #ffdd29;
}
.get_started_btn a {
  color: #000;
}
.toggle_navbar_type {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #181818;
  height: max-content;
}

.activeToggle {
  height: max-content !important;
}

.drop_down_company_dropdown div a{
  width: 100%;
}
.nav_bar_link_type_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.links_and_btngetStarted_in_menu{
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
}

.get_started_btn_container_in_menu{
  padding-top: 25px;
  border-top: 1px solid rgba(238, 238, 238, 0.199);
  display: none;
}

@media screen and (max-width: 1087px) {
  .drop_down_company_dropdown div{
    border-radius: 0;
    border-left: 1px solid rgb(255, 255, 255);
  }
  .nav_link{
    border-bottom: 1px solid #242424;
}
  .get_started_btn_container_in_menu{
    display: flex;
    justify-content: flex-end;
  }
  .get_started_btn{
    display: none;
  }
  .get_started_btn2{
    display: flex;
  }
  .drop_down_company_dropdown{
    top:0;
  }
  
  .navbar_logo_type_content_in_closer_logo_close{
    cursor: pointer;
  }
  .nav_bar_link_type_content_closer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .hoverWhenToggleIsOn{
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    z-index: 11;
    background: rgba(24, 24, 24, 0.58);
    opacity: 1;
    transition: .2s;
    pointer-events:initial
  }
  .hoverWhenToggleIsOFF{
    right: -100px;
    opacity: 0;
    pointer-events:none
  }
  .drop_down_company_dropdown::after{
    display: none;
  }
  .get_started_btn{
    margin-right: 10px;
  }
  .nav_bar_link_type {
    flex-direction: column;
  }
  .fa_icon_type_navbar{
    display: block;
  }
  .toggle_navbar_type {
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 100vh !important;
    padding: 20px;
    top: 0;
    flex-direction: column;
    right: -100%;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    background: rgba(24, 24, 24) ;
    transition: .3s;
  }
  .activeToggle{
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 100% !important;
    padding: 20px;
    top: 0;
    flex-direction: column;
    right: 0;
    justify-content: flex-start;
    align-items: center;
    z-index: 12;
    overflow: hidden;
    background: rgba(24, 24, 24) ;
  }
  .nav_bar_link_type_content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav_bar_link_type_content ul li{
   width: 100%;
  }
  .navbar{
    background: #181818;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    top: 0;
    width: 100%;
    padding:15px 20px;
  }
  .drop_down_company_dropdown{
    position: relative;
    opacity: 1;
    background: none;
    color: white;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    height: max-content;
    padding-left: 20px;
  }
  .drop_down_company_dropdown div{
    height: 0;
    width: 100%;
    transition: .2s;
  }
  .drop_down_company:hover .drop_down_company_dropdown div{
    height: max-content;
  }
  .drop_down_company_dropdown::before{
    display: none;
  }
  .drop_down_company_dropdown div{
    background: none;
    box-shadow: none;
  }
  .drop_down_company_dropdown a{
    color: white !important;
  }
  .drop_down_company_dropdown a:hover{
    color: #ffdd29 !important;
    background-color: transparent;
   }
   .drop_down_company:hover .drop_down_company_dropdown{
    height: max-content;
    pointer-events: initial;
  }
  .navlink2{
    padding:12px 10px !important;
  }
  
}


@media screen and (max-width: 652px) {
  .navbar_logo_type_content_in_closer{
    display: block;
  }
  .nav_bar_link_type_content_closer{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .activeToggle {
    width: 100%;
    max-width: 100%;
}
.drop_down_company_dropdown div ,.drop_down_company_dropdown div a{
  width: 100%;
}
.nav_bar_link_type_content{
  width: 100%;
}
.nav_bar_link_type_content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}
.nav_bar_link_type_content ul li{
 width: 100%;
}
}
