@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&display=swap');

.driver{
    font-family: 'Hind Siliguri', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.ALL_COMPONENT {
    position: relative;
    overflow: auto;
}
.driver #Header{
    background-image: none;
}
.AboutTitle {
    font-weight: 700;
    color: #000;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 10px;
}
.page-logo{
    background: url("../../public/Assets/partners/Logo\ H\ White\ Transparent.png");
    background-position: center;
    background-size: 100%;
    width: 150px;
    height: 45px;
    background-repeat: no-repeat;background-position: center;
    background-size: contain;
  }
.DriverSection1{
    background: #181818;
    height: max-content;
    max-height: max-content ;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10px 150px;
    padding-top: 90px !important;
    padding-bottom: 70px !important;
}
.DriverSection1_subtitle{
    line-height: 1.4;
}

.DriverSection1Element{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    width: 50%;
    min-width: max-content;
}
.DriverSection1RoueRoue{
    position: absolute;
}
.DriverSection1Roue{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.DriverSection1RoueContainer{
    min-width: 400px;
    height: 100%;
    position: relative;
}
@keyframes roueEffect1 {
    0%{
        top:-10px;
        opacity: 0;
    }
    100%{
        top: 70px;
        opacity: 1;
    }
}

.thirdAbout {
    text-align: center;
    line-height: 1.3;
}

.thirdAboutImg{
    margin-top: 100px;
}

.DriverSection1Roue1{
    top: 70px;
    left: 0px;
    animation:roueEffect1 1s ease-in-out ;
}
@keyframes roueEffect2 {
    0%{
        top:30px;
        opacity: 0;
    }
    100%{
        top: 150px;
        opacity: 1;
    }
}
.DriverSection1Roue2{
    top: 150px;
    right:0px ;
    animation:roueEffect2 1s ease-in-out ;
}
@keyframes roueEffect3 {
    0%{
        bottom: 50px;
        opacity: 0;
    }
    100%{
        bottom: -50px;
        opacity: 1;
    }
}
.DriverSection1Roue3{
    bottom: -50px;
    left: 0px;
    animation:roueEffect3 1s ease-in-out ;
}
@keyframes roueEffect4 {
    0%{
        bottom: 100px;
        opacity: 0;
    }
    100%{
        bottom: -180px;
        opacity: 1;
    }
}
.DriverSection1Roue4{
    bottom:-180px;
    right:0px ;
    animation:roueEffect4 1s ease-in-out ;
}
.DriverSection1Titre{
   font-size: 4vw;
   font-weight: 500;
   align-self: flex-start;
   line-height: 1 !important;
   color:#fff;
   padding-top: 80px;
   padding-bottom: 20px;
}
.Driver-numero{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius:8px;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
}
.Driver-input-numero{
    border: none;
    background: none;
    width: 100%;
    padding-right:10px;
    outline: none;
    font-size: 1.5vw;
}

.Driver-btn-outline-secondary{
    background: #fff;
    margin-right: 10px;
}
  

.Driver-input-group-prepend .btn {
    border-right: none;
    border-color: #fff;
  }
  .Driver-input-group-prepend .btn,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #fff;
}
.input-field {
    background: #FFFFFF;
    border-radius: 8px;
    height: 70px;
    border-color: #fff;
}
.DriverButtonDrive{
    background:#ffdd29 ;
    color:#202020;
    border-radius: 40px;
    font-size: 1.3vw;
    font-weight: 700;
    align-self: flex-start;
    margin: 30px 0;
    transition: .3s;
    cursor: pointer;
}
.DriverButtonDrive a{
    color: #202020;
    padding: 15px 30px;
    display: block;
}
.DriverButtonDrive:hover{
    background:#dfbe19 ;
}
/* ===================================SECTION2 */
.DriverSection2{
    width: 100%;
    height: max-content;
    padding: 130px 0;
}
.DriverSection2Conteneur{
    width: 100%;
    height: 100%;
    text-align: center;
}
.DriverSection2Cards{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    perspective: 1000px;
}
.DriverSection2Card{
    text-align: center;
    width: 230px;
    height: 210px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
    transition: .2s;
}

.DriverSection2Card:hover{
    box-shadow:  0 0 7px #DEDEDE;
    transform: rotateY(-20deg);
}
.DriverSection2cardTitleContainer{
    margin: 15px 0;
}
.DriverSection2cardTitle{
    font-weight: bold;
}
.DriverSection2cardSubtitle{
    font-size: 14px;
    color: #5C5C5C;
}
.DriverSection2Cards{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carteDriver{
    padding: 10px;
}
.lastAboutAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 0;
}
.lastAboutAboutTitle{
    text-align: center;
    font-weight: 600;
}
.lastAboutCards{
    display: flex;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.lastAboutCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 230px;
    height: 160px;
    margin: 2px;
    padding: 20px;
    border: 1px solid #DEDEDE;
    border-radius: 1px;
    transform-style: preserve-3d;
    transition: .2s;
}
.lastAboutCardTitle{
   margin-bottom: 15px !important;
}
.lastAboutCard img{
    width: 180px;
}
.lastAboutCard:hover{
    margin:25px;
    scale: 1.1;
    box-shadow: 0 0 7px rgb(231, 231, 231);
}
.Driver-text-items{
    width: 100%;
    font-size: 16px;
}

.Driver-titre-items{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}
.Driver-image-items{
    width: 100%;
    height: 15vw;
}

/* ===================================SECTION3 */
.Driver-section3{
    width: 100%;
    height: max-content;
    padding-top:7vw !important;
    padding-bottom:7vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181818;
}
.Driver-section3-phones{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    position: relative;
}

.driver-section-phone-img1{
    width: 20vw;
}
.driver-section-phone-img2{
    width: 18vw;
}
.Driver-section3-phone1{
    position: relative;
    z-index: 2;
    bottom: 0;
    left: -200px;
    opacity: 0;
}
.Driver-section3-phone2{
    position: absolute;
    bottom: 3%;
    right: 57%;
    z-index: 1;
    opacity: 0;
}
.Driver-section3-text{
    width: 80%;
}.Driver-section3-text-title-container{
    position: relative;
    overflow: hidden;
}
.Driver-section3-text-title-inner{
    position: relative;
    bottom: -50px;
    opacity: 0;
}
.Driver-section3-text-title{
    font-size: 3vw;
    font-weight: bold;
    line-height: 1;
    color:#FFDD29;
    padding-bottom: 50px;
}
.Driver-section3-text-subtitle{
    transform: translateY(100px);
    opacity: 0;
    font-size: 1.7vw;
    line-height: 1.1;
    font-weight: 400;
    color: #ffff;
}
.Driver-section3-text-app-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transform: translateY(140px);
    opacity: 0;
}
.Driver-section3-text-app-buttons-button-container{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.4vw;
    letter-spacing: 2px;
    font-weight: 400;
    background: #FFFF;
    border-radius: 8px;
    width: 40%;
    max-width: 40%;
    padding: 20px;
    margin-top: 50px;
    transition: .2s;
}
.Driver-section3-text-app-buttons-button{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.Driver-section3-text-app-buttons-button-container{
    background: rgb(228, 228, 228);
}
@media screen and (max-width:768px){
    .DriverSection1 {
        justify-content: center;
        align-items: center;
        min-height: 50vh;
    }
    .DriverSection1Roue{
        display: none;
    }
    .DriverSection1Element {
        width: 100%;
    }
    .DriverSection1Titre {
        font-size: 7vw;
    }
    .DriverSection1Titre{
        padding-top: 0px;
    }
    .Driver-input-numero {
        font-size: 3vw;
    }
    .DriverButtonDrive {
        font-size: 3vw;
    }
    .Driver-section3{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Driver-section3-text-title{
        font-size: 6vw;
        margin-top: 30px;
    }
    .Driver-section3-text-subtitle{
        font-size: 3vw;
    }
    .Driver-section3-phones {
        justify-content: center;
    }
    .driver-section-phone-img1 {
        width: 22vw;
    }
    .driver-section-phone-img2 {
        width: 19vw;
    }
    .Driver-section3-text-app-buttons-button-container {
        font-size: 3.4vw;
    }
}

@media screen and (max-width:652px){
    .DriverSection1 {
        justify-content: center;
        align-items: center;
    }
    .DriverSection1Titre {
        font-size: 9vw;
    }
    .DriverSection1Element {
        width: 100%;
    }
    .DriverSection1Element {
        min-width: 100%;
    }
    .Driver-input-numero {
        font-size: 4.5vw;
    }
    .DriverButtonDrive {
        font-size: 4.3vw;
    }
    .Driver-section3{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Driver-section3-text-title{
        font-size: 8vw;
        margin-top: 30px;
    }
    .Driver-section3-text-subtitle{
        font-size: 5vw;
    }
    .Driver-section3-phones {
        justify-content: center;
    }
    .driver-section-phone-img1 {
        width: 22vw;
    }
    .driver-section-phone-img2 {
        width: 19vw;
    }
    .Driver-section3-text-app-buttons-button-container {
        font-size: 3.4vw;
    }
}
@media screen and (max-width:500px){
    .Driver-section3-text-app-buttons {
        flex-direction: column;
    }
    .Driver-section3-text-app-buttons-button-container {
        max-width: 100%;
        width: 60%;
    }
    .Driver-section3-text-app-buttons-button {
        justify-content: space-evenly;
        font-size: 4vw;
    }
}
@media screen and (max-width:1133px){
    .DriverSection1 {
        padding: 0 100px;
    }
    .DriverSection1RoueRoue{
        position: absolute;
        width: 170px;
    }
    .DriverSection1RoueContainer{
        min-width: 300px;
        height: 100%;
        max-height: 400px;
        position: relative;
    }
    .DriverSection1Roue1{
        top: 70px;
        left: 0px;
    }
    .DriverSection1Roue2{
        top: 150px;
        right:0px ;
    }
    .DriverSection1Roue3{
        bottom: -50px;
        left: 0px;
    }
    .DriverSection1Roue4{
        bottom:-180px;
        right:0px ;
    }
}
@media screen and (max-width:941px){
    .DriverSection1 {
        padding: 0 20px;
    }
    .DriverSection1RoueRoue{
        position: absolute;
        width: 150px;
    }
    .DriverSection1RoueContainer{
        min-width: 270px;
        height: 100%;
        max-height: 400px;
        position: relative;
    }
    .DriverSection1Roue1{
        top: 70px;
        left: 0px;
    }
    .DriverSection1Roue2{
        top: 150px;
        right:0px ;
    }
    .DriverSection1Roue3{
        bottom: -50px;
        left: 0px;
    }
    .DriverSection1Roue4{
        bottom:-180px;
        right:0px ;
    }
}
