/*Generale */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
.principalContact{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding-top: 140px;
    min-height: 100vh;
    background: #181818;
    font-family: "Hind Siliguri", sans-serif;
}
.contactusContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}
.contactusContainer *{
   width: 100%;
   height: auto;
}
.contactUs_leftSide{
    color: #fff;
    line-height: 1.5;
}
.contactUs_leftSide_social {
   display: flex;
   width: 150px;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
}
.contactUs_leftSide_social *{
    width: 30px;
    height: 30px;
}
.contactUs_leftSide_title{
    font-size: 5vw;
    font-weight: 500;
    line-height: 1;
}
.contactUs_leftSide_Subtitle{
    margin: 20px 0 ;
    font-size: 1.2rem;
    width: 75%;
    text-align: justify;
    font-weight: 300;
}
.contactUs_leftSide_line{
    width: 75%;
    height: 3px;
    background:-webkit-linear-gradient(left, rgba(255,255,255,1) 15%,rgba(255,221,41,1) 100%); /* Chrome10-25,Safari5.1-6 */;
}
.contactUs_leftSide_contact{
  margin: 10px 0;
}
.contactUs_leftSide_contact .title{
    font-size: 1.4rem;
    font-weight: bold;
}
.contactUs_leftSide_contact .subtitle{
    font-size: 1.1rem;
}
.form_container_contactUs{
    color: #181818;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.form_container_contactUs .info {
    margin-right: 0;
}

.form_container_contactUs .info .title{
    font-weight: 400;
    font-size: 17px;
}
.form_container_contactUs .container_info{
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    gap: 20px;
}
.form_container_contactUs .container_info select{
    padding: 8px;
    background-color: #eeeeee;
    outline: none;
}

.form_container_contactUs .info input, .form_container_contactUs .info select{
    padding: 15px;
    border: 1px solid #ffffff !important;
    border-radius: 7px;
    background-color: #eeeeee;
    outline: none;
    font-weight: 400;
    font-family: "Work Sans",sans-serif;
    font-size: 16px;
    color: rgb(87, 87, 87);
    -webkit-appearance: none;
}

.custSelect{
    position: relative;
}

.form_container_contactUs .custSelect::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid grey;
    pointer-events: none;
  }

.form_container_contactUs textarea{
    padding: 8px;
    border: 1px solid #ffffff !important;
    border-radius: 7px;
    background-color: #eeeeee;
    outline: none;
    min-width: 100%;
    min-height: 120px;
    max-height: 120px;
    outline: none;
}
.submitBtnFormContact{
    width: max-content;
    padding: 15px 20px;
    color:#181818;
    background-color: #FFDD29;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition: .2s;
    cursor: pointer;
}
.submitBtnFormContact:hover{
  box-shadow: -5px 3px 7px rgba(0, 0, 0, 0.116);
}
.submitBtnFormContact:active{
    box-shadow: none
  }

@media screen and (max-width:1122px) {
    .contactusContainer{
       flex-direction: column;
       align-items: center;
    }
    .contactUs_leftSide{
        margin-bottom: 30px;
    }
    .contactUs_leftSide_line{
        width: 75%;
    }
    .contactUs_leftSide_title{
        font-size: 70px;
    }
    .contactUs_rightSide{
        margin-bottom: 50px;
    }
}

@media screen and (max-width:1086px) {
    .contactusContainer{
        padding: 0 50px ;
    }
    .principalContact{
        padding-top: 80px;
    }
}
@media screen and (max-width:560px) {
    .contactusContainer{
        padding: 0 20px ;
    }
    .contactUs_leftSide_Subtitle{
        width: 100%;
    }
    .contactUs_leftSide_line{
        width: 100%;
    }
    .contactUs_leftSide_title{
        font-size: 12vw;
    }
    .form_container_contactUs .container_info{
       flex-direction: column;
    }
    .form_container_contactUs .container_info *{
        margin: 2px 0;
    }
    .form_container_contactUs .info input{
        padding: 15px 8px;
    }
}