@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  color: unset;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

.ALL_COMPONENT{
	position: relative;
	overflow: auto;
}

.paddingHomeCenter {
	padding: 10px 150px !important;
  }

@media screen and (max-width: 1085px) {
	.paddingHomeCenter {
	  padding: 20px 50px !important;
	}
}

@media screen and (max-width: 964px) {
	.paddingHomeCenter {
	  padding: 20px 20px !important;
	}
}

/* 404PAGE */
.lost_page_container{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Hind Siliguri', sans-serif;
	width: 90%;
	height: 100vh;
	margin: auto;
}
.lostman_img_error_page{
	min-width: 400px;
	width: 100%;
}
.title_error_page{
    font-size: 9vw;
    margin: 15px 0px;
    font-weight: bold;
}
.title_2_error_page{
    font-weight: bold;
    color: #202020;
	font-size: 3vw;
}
.paragraph_error_page{
	line-height: 1.2;
	font-weight: 300;
	margin: 15px 0px;
	width: 70%;
}
.bouton_error_page {
    color: #ffdd29 !important;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (max-width:652px) {
	.lost_page_container{
		flex-direction:column ;
		justify-content: flex-start;
	}
	.lostman_img_error_page{
		min-width: 200px;
		width: 70%;
	}
	.title_error_page{
		font-size: 18vw;
	}
	.title_2_error_page{
		font-size: 7vw;
	}
	.paragraph_error_page{
		font-size:3vw ;
		width: 90%;
	}
	.bouton_error_page {
		font-size: 6vw;
	}
}

